<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patrickwallin.projects.collegeinformation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainSearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".SearchDegreesActivity"
            android:theme="@style/Theme.Show.ActionBar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchProgramsActivity"
            android:theme="@style/Theme.Show.ActionBar"
            android:parentActivityName=".MainActivity" />

        <provider
            android:name=".data.CollegeInfoContentProvider"
            android:authorities="com.patrickwallin.projects.collegeinformation"
            android:exported="false" />

        <activity
            android:name=".SearchLocationsActivity"
            android:theme="@style/Theme.Show.ActionBar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchLocationsStatesActivity"
            android:parentActivityName=".SearchLocationsActivity" />
        <activity
            android:name=".SearchLocationsRegionsActivity"
            android:parentActivityName=".SearchLocationsActivity" />
        <activity
            android:name=".SearchNamesActivity"
            android:theme="@style/Theme.Show.ActionBar"
            android:parentActivityName=".SearchLocationsActivity" />
        <activity
            android:name=".ResultsActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Show.ActionBar"
            android:parentActivityName=".SearchLocationsActivity" />
        <activity android:name=".ResultDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ResultsActivity"></activity>
    </application>

</manifest>