<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patrickwallin.projects.collegeinformation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.patrickwallin.projects.widget.CollegeWidget.ACTION_WIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainSearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".SearchDegreesActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Show.ActionBar" />
        <activity
            android:name=".SearchProgramsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Show.ActionBar" />

        <provider
            android:name=".data.CollegeInfoContentProvider"
            android:authorities="com.patrickwallin.projects.collegeinformation"
            android:exported="true"
            android:grantUriPermissions="true" />

        <activity
            android:name=".SearchLocationsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Show.ActionBar" />
        <activity
            android:name=".SearchLocationsStatesActivity"
            android:theme="@style/Theme.Show.ActionBar"
            android:parentActivityName=".SearchLocationsActivity" />
        <activity
            android:name=".SearchLocationsRegionsActivity"
            android:theme="@style/Theme.Show.ActionBar"
            android:parentActivityName=".SearchLocationsActivity" />
        <activity
            android:name=".SearchNamesActivity"
            android:parentActivityName=".SearchLocationsActivity"
            android:theme="@style/Theme.Show.ActionBar" />
        <activity
            android:name=".ResultsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".SearchLocationsActivity"
            android:theme="@style/Theme.Show.ActionBar" />
        <activity
            android:name=".ResultDetailActivity"
            android:parentActivityName=".ResultsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver
            android:name=".widget.CollegeWidget"
            android:enabled="true"
            android:exported="true"
            android:label="College Favorites">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/college_widget_info" />
        </receiver>

        <service
            android:name=".widget.CollegeWidgetService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>
</manifest>